@model Capstone.Web.Models.ParkWeather

@{
    ViewData["Title"] = Model.Park.ParkName;
}

<h2>@Model.Park.ParkName</h2>

<div>
    <h4>@Model.Park.ParkName</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <div>
        <img src="~/img/parks/@(Model.Park.ParkCode).jpg" />
    </div>
    <div>@Model.Park.ParkName</div>
    <div>@Model.Park.Acreage</div>
    <div>@Model.Park.ElevationInFeet</div>
    <div>@Model.Park.MilesOfTrail</div>
    <div>@Model.Park.NumberOfCampsites</div>
    <div>@Model.Park.Climate</div>
    <div>@Model.Park.YearFounded</div>
    <div>@Model.Park.AnnualVisitorCount</div>
    <div>@Model.Park.InspirationalQuote</div>
    <div>@Model.Park.InspirationalQuoteSource</div>
    <div>@Model.Park.ParkDescription</div>
    <div>@Model.Park.EntryFee</div>
    <div>@Model.Park.NumberOfAnimalSpecies</div>
</div>
<div>
    <div>Weather</div>
    <div>Day</div>
    <div>Picture</div>
    <div>High</div>
    <div>Low</div>
    <div>Recommendation</div>
</div>
