@model Capstone.Web.Models.ParkWeather

@{
    ViewData["Title"] = Model.Park.ParkName;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .test > img {
            width: 60%;
            height: 60%;
        }

        /*.container > a {
            display: none;
        }

        h1 {
            width: 100%;
            font-size: 64px;
            text-align: center;
            position: fixed;
            top: 0;
            opacity: 1;
        }

        .fontLayer {
            z-index: 1;
        }

        .fadeTop {
            width: 100%;
            height: 2000px;
            z-index: 5;
            position: absolute;
            top: 0;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 46%,rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        }*/
    </style>
</head>
<body>
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="single-about-txt">
                        <h2>@Model.Park.ParkName</h2>
                        <p>
                            <span>l</span>@Model.Park.ParkDescription @*do substring here to get first letter*@
                        </p>
                        <p>
                            @Model.Park.InspirationalQuote

                            -@Model.Park.InspirationalQuoteSource
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-overlay">
            <img src="~/img/parks/@(Model.Park.ParkCode).jpg">
        </div>
    </section>

    <section id="about-2" class="about-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="single-about-txt-2">
                        <h4>Other Facts</h4>
                        <p>
                            @Model.Park.Acreage.ToString("#,###")

                            @Model.Park.ElevationInFeet.ToString("#,###")

                            @Model.Park.MilesOfTrail.ToString("#,###")

                            @Model.Park.NumberOfCampsites.ToString("#,###")    @*MAKE LIST*@


                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="single-about-txt">
                        <h2>More Facts</h2>   @*Change title*@
                        <p>
                            <span></span> @Model.Park.Climate

                            @Model.Park.YearFounded

                            @Model.Park.AnnualVisitorCount.ToString("#,###")

                            @Model.Park.EntryFee.ToString("C2")

                            @Model.Park.NumberOfAnimalSpecies.ToString("#,###")
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-overlay-2"></div>
    </section>
</body>
</html>

<div>Weather</div>
<a asp-controller="Home" asp-action="ConvertTemperature" asp-route-parkCode="@Model.ParkCode">Convert Temperature</a>
@foreach (Weather forecast in Model.WeatherList)
{ 
    <div>
        <div>Day @forecast.FiveDayForecastValue</div>

        <div>
            <div>Day @forecast.FiveDayForecastValue</div>
            <div>
                <img src="~/img/weather/@(forecast.PictureName).png" />
            </div>
            <div>High:</div>
            <div>@forecast.High degrees F</div>
            <div>Low:</div>
            <div>@forecast.Low degrees F</div>
            <div>@forecast.Recommendation</div>
        </div>

        }
    </div>
    <div>High:</div>

        if (ViewBag.TempUnit == "Celsius")
        {
            <div>@Weather.FarenheitToCelsius(forecast.High) degrees C</div>
        }
        else
        {
            <div>@forecast.High degrees F</div>
        }

    <div>Low:</div>
 
        if (ViewBag.TempUnit == "Celsius")
        {
            <div>@Weather.FarenheitToCelsius(forecast.Low) degrees C</div>
        }
        else
        {
            <div>@forecast.Low degrees F</div>
        }

    <div>@forecast.Recommendation</div>

}

