@model List<Park>

@{
    ViewData["Title"] = "Index";
    Random rnd = new Random();
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>National Park Weather Service</title>
    <style>
        .img-item > img {
            height: 600px;
        }

        .overlay-discription {
            color: white;
            font-size: 10px;
            padding: 15px;
            text-indent: 10%;
        }

        .img-item-overlay {
            background-color: rgba(0,0,0,0.5);
        }
    </style>
</head>
<body>

   <img src="~/img/landscapes-mountains-water-nature-wallpapers-hd-live.jpg" />

    <section class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="single-gallery-box">

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            if (i % 2 == 0)
                            {
                                <div class="img-item">
                                    <img src="~/img/parks/@(Model[i].ParkCode).jpg" alt="images">
                                    <div class="img-item-overlay d-flex flex-column justify-content-center align-items-center">
                                        <h3><a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model[i].ParkCode" >@Model[i].ParkName</a></h3>
                                        <p class="overlay-discription">@Model[i].ParkDescription</p>
                                        <a class="btn welcome-btn gallery-btn" asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model[i].ParkCode">view details</a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="single-gallery-box">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            if (i % 2 != 0)
                            {
                                <div class="img-item">
                                    <img src="~/img/parks/@(Model[i].ParkCode).jpg" alt="images">
                                    <div class="img-item-overlay d-flex flex-column justify-content-center align-items-center">
                                        <h3><a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model[i].ParkCode">@Model[i].ParkName</a></h3>
                                        <p class="overlay-discription">@Model[i].ParkDescription</p>
                                        <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model[i].ParkCode">view details</a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


